.setleft{
  float: left;
  width: 200px;
  text-transform: capitalize;
  font-weight: 600;
}
.setleftanswerlies{
  list-style: none;
  margin: 10px 0;
  display: inline-block;
}
.setleftanswer{
  float: left;
  width: 200px;
}
.headbox{
  width: 100%;
  display: inline-block;
  margin: auto;
}
#featchdata, .buttonfetach{
  display: inline-block;
  margin: auto;
}
.buttonfetach{
  width: 100%;
  margin-left: 20px;
}

ul{
  list-style: none;
    margin: 0;
    padding: 0;
}

.addmoviedtawrap{
  display: inline-block;
  width: 100%;
  padding: 20px;
}
.warplabinput{
  padding: 10px;
  display: inline-block;
  width: 100%;
}
.wrapbetwn{
  width: 50%;
  margin: auto;
}
.warplabinput label{
  width: 150px;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
}